/* general */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(94, 52, 4);
}

h1 {
    font-family: 'Jost', monospace;
}

.profile-head {
    font-family:'Merriweather';
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
    font-size: 3rem;
    text-align: left;
    color: #fef5ea;
}

.profile-body {
    font-family:'Inconsolata';
    font-family: 'Jost';
    padding-bottom: 0.5rem;
    font-size: 1.05rem;
    text-align: left;
    color: #cca784;
}

.experience-head {
    font-family:'Jost';
    padding-bottom: 0.5rem;
    font-size: 3rem;
    text-align: left;
    color: #fef5ea;
    padding-left: 35vh;
    padding-right: 35vh;

    background: #A70F23;
background: linear-gradient(to bottom left, #A70F23 33%, #393391 66%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.title {
    font-family: 'Jost';
    font-size: 4rem;
    text-align: center;
    color: rgb(94, 52, 4);


    /* background: #0015FF;
    background: linear-gradient(to top right, #0015FF 0%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    /* mmm idk if i'm iffy about this */
    background: #A70F23;
background: linear-gradient(to bottom left, #A70F23 33%, #393391 66%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.experience-card-container {
    
    /* to do: MAKE DIFFERENT DIVS PER CARD */
    /* margin: 10px; */
    justify-content: center;
    display: flex;
    position: relative;
    gap: 1rem;
    /* height: 100%; */

    display: flex;
    height: 10vh;
    width: 10vh;
    margin: auto 0;

    padding: 5vh;
    padding-left:52vh;
    /* margin-left:1.5rem; */

    display: flex;
    justify-content: center;
    gap: 0.25rem;
    height: 20vh;
    /* background-color: #fef5ea; */

    /* border: 7px dashed rgb(94, 52, 4);
    border-radius: 40px; */
}


.experience-card-item:hover {
    cursor: pointer;
}


.menu-title {
    color: rgb(94, 52, 4);
}

.highlight {
    color: darkcyan;
}


.wrap {
    height: 200px;
    width: 200px;
    border: 1px solid #aaa;
    margin: 10px;
    display: flex;
    align-items: center;
  }
  
  .wrap span {
    align-self: flex-end;
    align-items: center;
    text-align: center;
  }


/* transitions */

a, .btn {
    transition: all 300ms ease;
}



/* desktop nav */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: #fef5ea;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: rgb(94, 52, 4);
    text-decoration: none;
    text-decoration-color: white;
    font-weight: 500;
}

a:hover {
    color: gray;
    /* text-decoration: underline;
    text-underline-offset: 1rem; */
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-family: 'Jost';
    color: rgb(94, 52, 4);
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}



/* hamburger menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #dcdcdc;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

/* sections */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 0rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container, .section-container-teammain {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}



/* home */

#home {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 85vh;
    background-color: #6d3c0e;

    border: 5px solid rgb(94, 52, 4);
    /* top left, top right, bottom right, bottom left */
    border-radius: 100px 5px 5px 0px;
    border-bottom: 7px dotted rgb(94, 52, 4);
    border-bottom-style: dotted;
}

#home-main {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 85vh;
    background-color: #fef5ea;
}

#experience-card {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 85vh;
    background-color: #6d3c0e;

    border: 5px solid rgb(94, 52, 4);
    /* top left, top right, bottom right, bottom left */
    border-radius: 0px 0px 0px 0px;
    border-top-style: none;
    border-bottom: 7px dotted rgb(94, 52, 4);
}

#experience-card-inner {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    height: 70vh;
    background-color: #fef5ea;

    border: 7px dashed rgb(94, 52, 4);
    border-radius: 40px;

}

#contact-card {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 85vh;
    background-color: #6d3c0e;

    border: 5px solid rgb(94, 52, 4);
    /* top left, top right, bottom right, bottom left */
    border-radius: 0px 0px 0px 100px;
    border-top-style: none;
    /* border-bottom: 7px dotted rgb(94, 52, 4); */
}

#experience-main {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 10vh;
    background-color: #fef5ea;

}

#wallet-bg {
    background-color: #8a561654;
    padding-top: 0vh;
    border: 5px solid rgb(94, 52, 4);
    border-top-style: none;
    border-left-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    /* top left, top right, bottom right, bottom left */
    border-radius: 100px 100px 100px 100px;
    padding-right: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 255vh;
}

#wallet-head-bg {
    background-color: #fef5ea;
    height: 260vh;
}


.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 400;
}


.section__text__p2 {
    text-align: center;
}

.section__text__p1 {
    text-align: center;
    font-size: 1.45rem;
    /* margin-bottom: 1rem; */
}

.experience__text__p3 {
    text-align: center;
}

.section-pic-container {
    display: flex;
    height: 400px;
    width: 300px;
    margin: auto 0;
}

.kyla-home-pic {
    /* top left, top right, bottom right, bottom left */
    border-radius: 30px;
}

/* buttons */

.btn {
    font: 'Jost';
    font-weight: bold;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 1rem;
    border: none;
}

.btn-home-1 {
    background-color: #cca784;
    color: rgb(94, 52, 4);
}

.btn-home-2 {
    background-color: rgb(94, 52, 4);
    color: #cca784;
}

.btn-home-1:hover, .btn-home-2:hover {
    cursor: pointer;
}

.btn-home-1:hover {
    background-color: rgb(94, 52, 4);
    color: #cca784;
}

.btn-home-2:hover {
    background-color: #cca784;
    color: rgb(94, 52, 4);
}

.btn-container-profile {
    padding-top: 1rem;
    gap: 1rem;
    text-align: left;
}

.btn-container {
    gap: 1rem;
}

